@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: aquamarine;
}

header {
  background-color: pink;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 32px;
  margin: 16px 0 24px 0;
}

button {
  background-color: aqua;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}

a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.logo {
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}



#about{
  background-color: yellow;
}


h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__desription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img--wrapper {
  width: 40%;
  padding: 0 24px;
}

img {
  width: 100%;
}

.section__desription--wrapper {
  width: 60%;
  padding: 0 24px;
}

.section__desription--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

#about,#discord,#contact {
  padding: 48px 0;
}

/*
DISCORD

*/

#discord{
  background-color: blueviolet;
}

/*
CONTACT

*/

#contact{
  background-color:gray;
}
form{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}